@CHARSET "UTF-8";

body {
    font-size: 9pt;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    background-image: url("images/canvas_bg2.png");
    -webkit-user-select: none;
}

.bpmn_wrapper {
    width: 100%;
    height: 642px;
}

.drawing_toolbar {
    width: 100%;
    height: 47px;
    background: #F6F6F6; /* 标准的语法 */
    border-bottom: solid 1px #CCCCCC;
}

.figure_panel {
    width: 100%;
    height: 70px;
    background: #F6F6F6; /* 标准的语法 */
    border-bottom: solid 2px #E0E0E0;
}

.drawing_wrapper, .canvas_area {
    width: 100%;
    height: 100%;
}

.figure_box {
    width: 120px;
    height: 40px;
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
    cursor: default;
}

.figure_box_over, .figure_box_down {
    background-color: #D7E0F7;
    /*cursor:move;*/
}

.figure_box span {
    position: inherit;
    top: -15px;
    left: 10px;
    font-family: "微软雅黑";
}

.figure_real {
    position: absolute;
}
