@CHARSET "UTF-8";

body {
    font-size: 9pt;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    background-image: url("images/canvas_bg2.png");
    -webkit-user-select: none;
}

#bpmn_wrapper {
    width: 100%;
    height: 640px;
}

#drawing_toolbar {
    width: 100%;
    height: 47px;
    background: #F6F6F6; /* 标准的语法 */
    border-bottom: solid 1px #CCCCCC;
}

#figure_panel {
    width: 100%;
    height: 70px;
    background: #F6F6F6; /* 标准的语法 */
    border-bottom: solid 2px #E0E0E0;
}

#drawing_wrapper, #canvas_area {
    width: 100%;
}

.figure_box {
    width: 120px;
    height: 40px;
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
    cursor: default;
}

.figure_box_over, .figure_box_down {
    background-color: #D7E0F7;
    /*cursor:move;*/
}

.figure_box span {
    position: inherit;
    top: -15px;
    left: 10px;
    font-family: "微软雅黑";
}

.figure_real {
    position: absolute;
}

#control_div {
    border: solid 1px #000;
    position: absolute;
    left: 300px;
    top: 300px;
    width: 100px;
    height: 100px;
    /*display: none;*/
}

/*#control_canvas {
    position: absolute;
}*/

.point_scale {
    width: 6px;
    height: 6px;
    z-index: 4;
    background-color: #fff;
    border: solid 1px #000;
    position: absolute;
}

.p_lt {
    cursor: nw-resize;
    left: -4px;
    top: -4px;
}

.p_lb {
    cursor: se-resize;
    left: -4px;
    top: 96px;
}

.p_rt {
    cursor: ne-resize;
    left: 96px;
    top: -4px;
}

.p_rb {
    cursor: sw-resize;
    left: 96px;
    top: 96px;
}

.point_circle {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 4;
    background-color: #fff;
    border: solid 1px #000;
    position: absolute;
}

.p_l{
    left:-4px;
    top:46px;
}
.p_t{
    left:46px;
    top:-4px;
}
.p_r{
    left:96px;
    top:46px;
}
.p_b{
    left:46px;
    top:96px;
}